.background {
  viewport-fill: fb-cyan;
}

.texta {
  fill: red;
  font-size: 38;
  font-family: System-Regular;
  text-anchor: start;
  width: 100%-20;
  text-length: 500;
  height: 600;
  x: 10;
  y: $
}

